<div class="container">

    <h1>Lista de Compras</h1>

    <app-itens-form 
    [editItem]="editItem" 
    [itemToEdit]="itemToEdit"
    (itemAdded)="cadastrarItem($event)"
    (itemUpdated)="cadastrarItem($event)">
    </app-itens-form>

    <h3>Lista de itens</h3>
    <app-itens-list
    [itens]="getItensNaoComprados()"
    (itemDeleted)="deletarItem($event)"
    (itemUpdated)="atualizarItem($event)"
    (itemEdited)="editarItem($event)"
    ></app-itens-list>

    <h3>No carrinho</h3>
    <app-itens-comprados-list
    [itensComprados]="itensComprados" 
    [checkedItens]="checkedItens" 
    (itemDeleted)="deletarItem($event)" 
    (itemUpdated)="atualizarItem($event)">
    ></app-itens-comprados-list>

</div>