.container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form mat-form-field {
    margin-right: 1rem;
}

mat-form-field .input-qtd {
    max-width: 25px;
}